{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content cakes {{ displayMode }}">
  <div class="row">
    <div class="col-md-12">
      <h2>Cakes</h2>
      Our speciality cake prices depend on the size and choice of decor. Please contact us for a quote.
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 picture visible-md visible-lg">
      <img src="images/cupcake.png" alt/>
    </div>
    <div class="info" ng-class="displayMode=='full' && 'col-md-4' || 'col-md-12'">
      <h3>Cake Flavours</h3>

      <div>Vanilla / Chocolate / Red Velvet</div>
      <h3>Icing</h3>

      <div>Butter Cream / Fondant / Cream Cheese</div>
      <div>Chocolate Ganache / Meringue</div>

      <h3>Fillings</h3>

      <div>Caramel</div>
      <div>Choc Mint Caramel</div>
      <div>Choc Hazelnut Caramel</div>
      <div>Chocolate Mousse</div>
      <div>White Chocolate Mousse</div>
      <div>Strawberry Mousse</div>
      <div>Strawberry Jam</div>
      <div>Lemon Meringue</div>

      <h3>Sizes</h3>

      <div>Round 15cm - Serves 8</div>
      <div>Round 21cm - Serves 16</div>
      <div>Round 25cm - Serves 25</div>
      <div>Round 30cm - Serves 30-35</div>
<br>
      <div>Square 15cm - Serves 9</div>
      <div>Square 17.5cm - Serves 16</div>
      <br>
      <div>A4 Sheet Cake - Serves 25</div>
    </div>
  </div>
</div>
{= endblock =}