{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content cakes {{ displayMode }}">
  <div class="row">
    <div class="col-md-12">
      <h2>Cakes</h2>
      Please see our gallery and Facebook page for examples of cakes that we do.<br>
      We specialise in mini fondant covered cakes or larger buttercream cake. <br>
      We only do small two tiered cakes. We do not make tiered cakes that require support.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Mini two-tier cake
        <small>Bottom tier 15cm / Top tier 10cm</small>
      </h3>
    </div>
  </div>
  <div class="row section hidden-xs">
    <div class="col-sm-4">
      <img src="images/cakes/mini-1.jpg" alt/>
    </div>
    <div class="col-sm-4">
      <img src="images/cakes/mini-2.jpg" alt/>
    </div>
    <div class="col-sm-4">
      <img src="images/cakes/mini-3.jpg" alt/>
    </div>
  </div>
  <div class="row section visible-xs">
    <div class="col-xs-4">
      <img src="images/cakes/mini-1.jpg" alt/>
    </div>
    <div class="col-xs-4">
      <img src="images/cakes/mini-2.jpg" alt/>
    </div>
    <div class="col-xs-4">
      <img src="images/cakes/mini-3.jpg" alt/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Buttercream covered cakes with toppers</h3>
    </div>
  </div>
  <div class="row section hidden-xs">
    <div class="col-sm-4">
      <img src="images/cakes/buttercream-1.jpg" alt/>
    </div>
    <div class="col-sm-4">
      <img src="images/cakes/buttercream-2.jpg" alt/>
    </div>
    <div class="col-sm-4">
      <img src="images/cakes/buttercream-3.jpg" alt/>
    </div>
  </div>
  <div class="row section visible-xs">
    <div class="col-xs-4">
      <img src="images/cakes/buttercream-1.jpg" alt/>
    </div>
    <div class="col-xs-4">
      <img src="images/cakes/buttercream-2.jpg" alt/>
    </div>
    <div class="col-xs-4">
      <img src="images/cakes/buttercream-2.jpg" alt/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Barbie Cakes</h3>
    </div>
  </div>
  <div class="row section hidden-xs">
    <div class="col-sm-4">
      <img src="images/cakes/barbie-1.jpg" alt/>
    </div>
    <div class="col-sm-4">
      <img src="images/cakes/barbie-2.jpg" alt/>
    </div>
    <div class="col-sm-4">
      <img src="images/cakes/barbie-3.jpg" alt/>
    </div>
  </div>
  <div class="row section visible-xs">
    <div class="col-xs-4">
      <img src="images/cakes/barbie-1.jpg" alt/>
    </div>
    <div class="col-xs-4">
      <img src="images/cakes/barbie-2.jpg" alt/>
    </div>
    <div class="col-xs-4">
      <img src="images/cakes/barbie-2.jpg" alt/>
    </div>
  </div>
</div>
{= endblock =}