{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content candy-cart {{ displayMode }} {{ displaySize }}">
  <div class="row">
    <div class="col-md-9">
      <h2>Candy Cart Hire</h2>
      <div>
        Our Candy Cart can be dressed to suit any theme and colour scheme, making it the perfect addition to your
        wedding,
        party, baby shower or event. We use a variety of beautiful glassware, shabby-chic buckets and traditional
        sweetie
        jars.
      </div>
      <br>
      <div>
        What’s Included in all Basic Packages:
        <ul>
          <li>Full set up at your venue prior to guests arrival and pack up and collection</li>
          <li>Top quality glassware</li>
          <li>Customised signs, personalization and jar labels to match your theme</li>
          <li>Sweet bags</li>
          <li>Tongs & Scoops</li>
          <li>Canopy to match your theme/scheme</li>
          <li>Decorations such as wooden Mr & Mrs or Love signs to finish the cart off perfectly!</li>
          <li>And of course, SWEETS (approx 120g per guest)</li>
          <li>Also included: 50 MINI CUPCAKES (choose between chocolate, vanilla or Red Velvet)</li>
        </ul>
      </div>
      <br>
      <div>
        We select all sweets in the basic packages to suit your event theme. See our So Sweet Menu to get an idea of what is available.
        <br><br>
        If there is something specific you would like, that is not on this list, it may be charged as additional to the
        basic package cost.
        <br><br>
        Number of choices will depend on type of sweets and number of guests otherwise the jars will look too empty.
        <br><br>
        Sweets from our Double Delicious Menu can be included at an additional cost but cannot be swopped out for Basic
        Package sweets.
      </div>
      <a class="download" href="/content/CandyCartBrochure.pdf" target="_blank">Download our Candy Cart brochure for
        more information and package prices</a>
    </div>
    <div class="col-md-3 side">
      <img src="/images/candy-cart/side.jpg" />
    </div>
  </div>
</div>
{= endblock =}