{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content contact-us {{ displayMode }}">
  <div class="row">
    <div class="col-md-12">
      <h2>Contact Us</h2>
      <strong>We prefer orders to be placed five days in advance;</strong> however we may be able to accommodate a
      shorter notice
      depending on how busy we are. Contact us via email with your request and we will get back to you as soon as
      possible with costs and availability. Please provide your required date and as much information as possible
      regarding what you want (décor).
      <div class="notice">
        Please note – We are no longer at The Cape Garden Centre<br>
        Please contact us via email or telephone to place your order (collections in Brackenfell)
      </div>
      <div class="info">
        <div><span class="left">email:</span><a class="email" href="info@thecupcakegarden.co.za">info@thecupcakegarden.co.za</a>
        </div>
        <div><span class="left">tel:</span>(021) 811 2130</div>
      </div>
      <a class="newsletter" href="http://www.graphicmail.co.za/RWCode/subscribe.asp?SiteID=38214&amp;Mode=subscribe"
         target="_blank"
         toptions="group = links, type = iframe, effect = fade, width = 600, height = 475, overlayClose = 1, layout = quicklook">
        SUBSCRIBE TO OUR MONTHLY NEWSLETTER</a>
      <a class="facebook" href="http://www.facebook.com/pages/The-Cupcake-Garden/135452913192655" target="_blank">
        <img src="images/facebook-logo.png" alt/>
      </a>
    </div>
  </div>
</div>
{= endblock =}