{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content cupcakes {{ displayMode }}">
  <div class="row">
    <div class="col-md-12">
      <h2>Custom Cupcakes</h2>
      Specialty, custom cupcake prices are based on what you choose. Our standard cupcake prices ranges from R10 each to
      R20 each depending on your choice of icing, fillings, colours, decoration and packaging. The minimum order for
      customized cupcakes is one dozen. Final price will be quoted upon ordering.
    </div>
    <div class="col-md-8 picture visible-md visible-lg">
      <img src="images/cupcake.png" alt/>
    </div>
    <div class="info" ng-class="displayMode=='full' && 'col-md-4' || 'col-md-12'">
      <div><strong>Cake Flavours</strong></div>
      <div>Vanilla / Chocolate / Red Velvet</div>
      <div>Carrot / Cappuccino</div>
      <div><strong>Icing</strong></div>
      <div>Butter Cream / Fondant / Cream Cheese</div>
      <div>Chocolate Ganache / Meringue</div>

      <div><strong>Size</strong></div>
      <div>Our standard cupcakes are muffin size</div>

      <div><strong>Colours</strong></div>
      <div>Many colours to choose from</div>

      <div><strong>Fillings</strong></div>
      <div>Caramel</div>
      <div>Choc Mint Caramel</div>
      <div>Choc Hazelnut Caramel</div>
      <div>Chocolate Mousse</div>
      <div>Vanilla Mousse</div>
      <div>Strawberry Mousse</div>
      <div>Strawberry Jam</div>
      <div>Lemon Meringue</div>
    </div>
  </div>
</div>
{= endblock =}