{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content gallery {{ displayMode }} {{ displaySize }}" ng-controller="GalleryController">
  <div class="visible-md visible-lg">
    {= for thumbnail in thumbnails =}
    {= if loop.index0 % 4 === 0 =}
    <div class="row">
      {= endif =}
      <div class="col-md-3">
        <a class="thumbnail" href="gallery/{[thumbnail.name]}">
          <img src="{[thumbnail.path]}" alt="{[thumbnail.name]}"/>

          <h2 class="visible-md"><span>{[thumbnail.name.substring(0,1)]}</span>{[thumbnail.name.substring(1)]}</h2>
          <h2 class="visible-lg"><span>{[thumbnail.name.substring(0,1)]}</span>{[thumbnail.name.substring(1)]}</h2>
        </a>
      </div>
      {= if loop.index0 % 4 === 3 || loop.last =}
    </div>
    {= endif =}
    {= endfor =}
  </div>
  <div class="visible-sm">
    {= for thumbnail in thumbnails =}
    {= if loop.index0 % 3 === 0 =}
    <div class="row">
      {= endif =}
      <div class="col-sm-4">
        <a class="thumbnail" href="gallery/{[thumbnail.name]}">
          <img src="{[thumbnail.path]}" alt="{[thumbnail.name]}"/>

          <h2><span>{[thumbnail.name.substring(0,1)]}</span>{[thumbnail.name.substring(1)]}</h2>
        </a>
      </div>
      {= if loop.index0 % 3 === 2 || loop.last =}
    </div>
    {= endif =}
    {= endfor =}
  </div>
  <div class="visible-xs">
    {= for thumbnail in thumbnails =}
    {= if loop.index0 % 2 === 0 =}
    <div class="row">
      {= endif =}
      <div class="col-xs-6">
        <a class="thumbnail" href="gallery/{[thumbnail.name]}">
          <img src="{[thumbnail.path]}" alt="{[thumbnail.name]}"/>

          <h2><span>{[thumbnail.name.substring(0,1)]}</span>{[thumbnail.name.substring(1)]}</h2>
        </a>
      </div>
      {= if loop.index0 % 2 === 1 || loop.last =}
    </div>
    {= endif =}
    {= endfor =}
  </div>

</div>
{= endblock =}