{= extends 'layout.html' =}

{= block css =}{= endblock =}
{= block js =}{= endblock =}

{= block content =}
<div class="content gallery {{ displayMode }} {{ displaySize }}" ng-controller="GalleryItemController">
  <div class="visible-md visible-lg">
    {= for picture in pictures =}
    {= if loop.index0 % 4 === 0 =}
    <div class="row">
      {= endif =}
      <div class="col-md-3">
        <a class="thumbnail picture" ng-click="showPicture('{[picture.path]}')" data-toggle="modal" data-target=".pictureModal">
          <img src="{[picture.thumbnail]}" alt="{[picture.name]}"/>
        </a>
      </div>
      {= if loop.index0 % 4 === 3 || loop.last =}
    </div>
    {= endif =}
    {= endfor =}
    <a class="facebook" href="https://www.facebook.com/pages/The-Cupcake-Garden/135452913192655" target="_blank">
      For more pictures visit our Facebook page<img src="/images/facebook-logo-basic.jpg"/></a>
  </div>
  <div class="visible-sm">
    {= for picture in pictures =}
    {= if loop.index0 % 3 === 0 =}
    <div class="row">
      {= endif =}
      <div class="col-sm-4">
        <a class="thumbnail picture" ng-click="showPicture('{[picture.path]}')" data-toggle="modal" data-target=".pictureModal">
          <img src="{[picture.thumbnail]}" alt="{[picture.name]}"/>
        </a>
      </div>
      {= if loop.index0 % 3 === 2 || loop.last =}
    </div>
    {= endif =}
    {= endfor =}
    <a class="facebook" href="https://www.facebook.com/pages/The-Cupcake-Garden/135452913192655" target="_blank">For more pictures visit our Facebook page</a>
  </div>
  <div class="visible-xs">
    {= for picture in pictures =}
    {= if loop.index0 % 2 === 0 =}
    <div class="row">
      {= endif =}
      <div class="col-xs-6">
        <a class="thumbnail picture" ng-click="showPicture('{[picture.path]}')" data-toggle="modal" data-target=".pictureModal">
          <img src="{[picture.thumbnail]}" alt="{[picture.name]}"/>
        </a>
      </div>
      {= if loop.index0 % 2 === 1 || loop.last =}
    </div>
    {= endif =}
    {= endfor =}
    <a class="facebook" href="https://www.facebook.com/pages/The-Cupcake-Garden/135452913192655"target="_blank">For more pictures visit our Facebook page</a>
  </div>

  <div class="modal fade pictureModal" tabindex="-1" role="dialog" aria-labelledby="pictureModalLabel" aria-hidden="true">
    <div class="modal-dialog {{ displayMode }}">
      <div class="modal-content">
        <div class="modal-header">
          <a href="" class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></a>

          <h2 class="modal-title">{[ folder ]}</h2>
        </div>
        <div class="modal-body">
            <img ng-if="picturePath" ng-src="{{picturePath}}" alt/>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
{= endblock =}