<!doctype html>
<html lang="en" ng-app="tcg" id="ng-app">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The Cupcake Garden - With cupcakes, cakes and out of this world decorations, you can be sure to get the best in Cape Town from us."/>
  <title>The Cupcake Garden{[ title ]}</title>

  <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css"/>
  <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/main.css"/>

  {= block css =}{= endblock =}

  <script lang="text/javascript" src="/lib/google.js"></script>
  <!--[if lte IE 8]>
  <script>
    document.createElement('ng-include');
    document.createElement('ng-pluralize');
    document.createElement('ng-view');
    document.createElement('ng-repeat');

    // Optionally these for CSS
    document.createElement('ng:include');
    document.createElement('ng:pluralize');
    document.createElement('ng:view');
    document.createElement('ng:repeat');
  </script>
  <![endif]-->
</head>
<body>
<div class="container {{ displayMode }} {{ displaySize }}"
     window-monitor="mode-full" size-monitor="sizeXs,sizeSm,sizeMd,sizeLg" ng-controller="LayoutController">
  <div id="mode-full" class="visible-md visible-lg"></div>
  <div id="sizeXs" class="visible-xs"></div>
  <div id="sizeSm" class="visible-sm"></div>
  <div id="sizeMd" class="visible-md"></div>
  <div id="sizeLg" class="visible-lg"></div>
  <div class="facebook">
    <a href="http://www.facebook.com/pages/The-Cupcake-Garden/135452913192655"></a>
  </div>
  <div class="row">
    <div ng-if="displayMode=='mini'" class="col-md-2 nav {{ displayMode }}" style="display: none">
      <div class="navLogo">
        <a href="/gallery"><img src="/images/logo_small.gif"/></a>
      </div>
      {= for menuItem in menuItems =}
      <a class="item" href="{[menuItem.link]}"><h1>{[menuItem.name]}</h1></a>
      {= endfor =}
      <div class="navFooter hidden-xs hidden-sm">
        <img src="/images/nav_footer.png"/>
      </div>
    </div>

    <div class="main {{displayMode}} col-md-10 {[ pageName ]}">
      {= block content =}{= endblock =}
    </div>

    <div ng-if="displayMode=='full'" class="col-md-2 nav {{ displayMode }}" style="display: none">
      <div class="navLogo">
        <a href="/gallery"><img src="/images/logo_small.gif"/></a>
      </div>
      {= for menuItem in menuItems =}
      <a class="item" href="{[menuItem.link]}"><h1>{[menuItem.name]}</h1></a>
      {= endfor =}
      <div class="navFooter">
        <img src="/images/nav_footer.png"/>
      </div>
    </div>
  </div>
</div>
<!-- LIBS -->
<script type="text/javascript" src="/lib/json2.js"></script>
<script type="text/javascript" src="/lib/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<!-- APP -->
<script type="text/javascript" src="/js/misc/prototypes.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.base.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<!-- SERVICES -->
<script type="text/javascript" src="/js/services/displayService.js"></script>
<!-- DIRECTIVES -->
<script type="text/javascript" src="/js/directives/sizeMonitor.js"></script>
<script type="text/javascript" src="/js/directives/windowMonitor.js"></script>
<!-- CONTROLLERS -->
<script type="text/javascript" src="/js/controllers/layoutController.js"></script>
<script type="text/javascript" src="/js/controllers/{[ pageName ]}Controller.js"></script>

<script type="text/javascript">
  $('.nav').removeAttr('style');
</script>
</body>
</html>